{% extends "base.html" %}

{% block content %}

<h1 class="block">Projects in {{subject.title}}</h1>

<table class="table is-striped is-fullwidth">
<thead>
    <tr>
        <th>Title</th>
        <th>Supervisor</th>
        <th>Multiplicity</th>
        <th>Requests</th>
    </tr>
</thead>
<tbody>
{% for item in items %}
    <tr>
        <td><a href="{% url 'project_info' item.project.id%}">{{item.project.title}}</a></td>
        <td><a href="{% url 'supervisor_info' item.project.supervisor.id %}">{{item.project.supervisor.dn}}</a></td>
        <td>{{item.project.mult}}</td>
        <td>{{item.project.requests.all|length}}</td>
    </tr>
{% endfor %}
</tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
            <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}