{% extends "base.html" %}

{% block content %}

<h1 class="block">Put request on hold</h1>
<p class="block"><strong>Project:</strong> {{req.project.title}}</p>
<p class="block"><strong>Student:</strong> {{req.student.username}}</p>

<form method="POST" action="{% url 'supervisor_manage_request_hold' req.id %}?verify={{req.id}}">
    {% csrf_token %}
    <div class="field">
        <div class="control">
            <input class="button is-warning" type="submit" value="Yes, I&apos;m sure" />
        </div>
    </div>
</form>

{% endblock %}